[Unit]
Description=GOAT: EC2-%i attach utility
Documentation=https://github.com/sevagh/goat
Requires=network.target remote-fs.target
After=network.target remote-fs.target
ConditionPathExists=/usr/bin/goat

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/usr/bin/goat "%i"
SyslogIdentifier=goat

[Install]
WantedBy=multi-user.target
