[Unit]
Description=GOAT: EC2-%i attach utility
Documentation=https://github.com/sevagh/goat
Requires=network.target remote-fs.target
After=network.target remote-fs.target
ConditionPathExists=/usr/sbin/goat

[Service]
EnvironmentFile=/etc/sysconfig/goat
Type=oneshot
User=root
Group=root
ExecStart=/usr/sbin/goat -tagPrefix ${TAG_PREFIX} -logLevel ${LOG_LEVEL} "%i"
SyslogIdentifier=goat

[Install]
WantedBy=multi-user.target
