[Unit]
Description=GOAT: EC2-%i attach utility
Documentation=https://github.com/sevagh/goat
Requires=network.target
After=network.target
Before=cloud-init.service
Before=sshd.service
ConditionPathExists=/usr/sbin/goat

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/usr/sbin/goat "%i"
SyslogIdentifier=goat

[Install]
WantedBy=cloud-init.target
