[Unit]
Description=GOAT: EC2-ENI attach utility
Documentation=https://github.com/sevagh/goat
Requires=network.target remote-fs.target
After=network.target remote-fs.target
ConditionPathExists=/usr/bin/goat-eni

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/usr/bin/goat-eni --log-level=info
SyslogIdentifier=goat-eni

[Install]
WantedBy=multi-user.target
